body {
  margin: 0;
  height: auto;
  width: auto;
  text-align: center;
  font-family: "Signika Negative", sans-serif;
  background-color: #a7ebeb;
}
h1 {
  color: #176d6d;
}

h2 {
  color: #05969b;
}

h3 {
  color: #11999e;
}

a {
  color: #11999e;
  text-decoration: none;
  font: "Courgette", cursive;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(62, 62, 63);
  font-size: 15px;
}

p {
  color: #076669;
}
/* I'm Perush */
.name {
  margin: 0 auto 0 auto;
  padding-top: 20px;
  width: 20%;
  height: auto;
  font-size: 5.555rem; /* 100% = 16px = 1em    interm of percent = 562.5%*/
  font-family: "Courgette", cursive;
}

/* I am a Data Sciece Aspirant --> H2*/
.career {
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 2;
  height: auto;
}

/*  Contains the whole block */
.container {
  background-color: #a7ebeb;
}

.Top-container {
  background-color: #a7ebeb;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #a7ebeb;
}

.bottom-container {
  padding: 20px 0 10px 0; 
  margin-top: 20px;
}
/* Mountain */

.mountain {
  width: 100%;
  height: auto;
}

/* The original copy of Mountain Picture */
.copy {
  text-align: center;
  size: 90px;
  text-decoration: none;
}

/* Here is supposed to be my picture */
.Pic {
  height: auto;
  width: 20%;
}

hr {
  width: 1.5rem;
  border-style: dashed;
  color: #176d6d;
  margin: 0 auto 0 auto;
}

.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.mac {
  /*Picture of what I can do*/
  width: 35%;
  float: left;
  margin-right: 20px;
}

.scrollscreen {
  width: 25%;
  border-radius: 12.5%;
  float: right;
  margin-left: 20px;
  padding: 0;
}

.button-contact {
  font-size: 14px;
  font-family: Trebuchet MS;
  width: 110px;
  height: 34px;
  margin-top: 20px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(173, 192, 255, 1);
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-shadow: 0px 1px 0px rgba(43, 60, 105, 1);
  background: linear-gradient(rgba(75, 113, 185, 1), rgba(20, 71, 134, 1));
}

.button-contact:hover {
  background: linear-gradient(rgba(20, 71, 134, 1), rgba(20, 71, 134, 1));
  cursor: pointer;
  width: 104px;
  height: 37px;
}

.copy-right {
  margin: 20px;
  padding: 20px;
}
